AuthType Basic
AuthName "Bitte verwenden Sie den Benutzernamen und das Passwort, welches Ihnen gesendet wurde"
AuthUserFile /usr/www/users/diebotan/diebotaniker.de/subdomains/demo/httpdocs/admBOT/.htpasswd
Require valid-user
php_flag log_errors on
php_value error_log /usr/home/diebotan/public_html/diebotaniker.de/PHP_error.log

